{% extends 'index.html' %}
{% block content %}

<h1>Es mostra informacio dels usuaris de M06 de Daw2</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Rol</th>
        <th>Cursos</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher.id }}</td>
        <td>{{ teacher.nom }}</td>
        <td>{{ teacher.cognom }}</td>
        <td>{{ teacher.edat }}</td>
        <td>{{ teacher.rol }}</td>
        <td>{{ teacher.curs | join:", " }}</td>
    </tr>
    {% endfor %}
</table>
